*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e3edf7;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    position: relative;
    height: 300px;
    width: 300px;
}

.outer{
    height: 300px;
    width: 300px;    
    padding: 38px;
    /* border: 3px solid orangered; */
    border-radius: 50%;
     box-shadow: 8px 8px 20px -1px rgba(0,0,0,0.10),
    -8px -8px 20px -1px rgba(255,255,255,0.8);    
}

.inner{
    height: 220px;
    width: 220px;
    /* border: 3px solid orangered; */
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 
    inset 8px 8px 20px -1px rgba(0,0,0,0.3),
    inset -8px -8px 20px -1px rgba(255,255,255,0.9);     
}

#number{
    font-size: 50px;
    font-weight: 900;
    color:#130f40;
}

circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 40px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animate 9s linear forwards;
}

@keyframes animate{
    100%{
        stroke-dashoffset: 180;
    }
}

svg{
    position: absolute;
    top:0;
    left:0;
}
